<app-contenido [titulo]="titulo">
    <div *ngFor="let alert of alertas">
        <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout">{{ alert.msg }}</alert>
      </div>
    <alert type="danger" *ngIf="forPrModificar.get('nombre').invalid && forPrModificar.get('nombre').touched">
        <strong>Error</strong> El valor de campo nombre es incorrecto
      </alert>
      <alert type="danger" *ngIf="forPrModificar.get('direccion').invalid && forPrModificar.get('direccion').touched">
        <strong>Error</strong> El valor de campo factor peso es incorrecto
      </alert>
      <alert type="danger" *ngIf="forPrModificar.get('descripcion').invalid && forPrModificar.get('descripcion').touched">
        <strong>Error</strong> El valor de campo descripcion es incorrecto
      </alert>
      <br/>
    <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" >
        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
    </agm-map>
    <br/>
   <form [formGroup]="forPrModificar" (submit)="modificar(forPrModificar.value)" class="form-horizontal">
        <div class="form-group row">
            <label class="col-md-3 col-form-label" for="direccion">Direccion</label>
            <div class="col-md-9">
                <div class="input-group">
              <input type="text" formControlName="direccion" id="direccion" name="direccion" class="form-control" placeholder="Direccion..">
              <span class="input-group-append">
                  <button type="button" (click)="buscar(forPrModificar.value)"  class="btn btn-primary">Buscar</button>
                  </span>
            </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="nombre">Nombre</label>
            <div class="col-md-9">
              <input type="text" formControlName="nombre" id="nombre" name="nombre"  class="form-control" placeholder="nombre..">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="descripcion">Descripcion</label>
            <div class="col-md-9">
              <textarea formControlName="descripcion"  id="descripcion" rows="4" class="form-control" placeholder="Descripcion.."></textarea>
            </div>
          </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" routerLink="../../" >Regresar</button>
          <button type="submit" [disabled]="forPrModificar.invalid" class="btn btn-primary">Guardar</button>
        </div>
      </form>

</app-contenido>
