# IDEA Ignores #
################
*.iml
*.ipr
*.iws
.idea/
out/
local.properties

# Generic Android ignores #
###########################
bin/
target
gen/

# Compiled source #
###################
*.class


# Packages #
############
*.7z
*.dmg
*.gz
*.iso
*.rar
*.tar
*.zip

# Logs and databases #
######################
log/
*.log

# Dependency directories
node_modules/
.metadata
.recommenders
.DS_Store
.settings
.project
.classpath


