<!--Boton para crear un tips-->
<button type="button" class="btn btn-primary" data-toggle="modal" (click)="crearPromocion.show()">
  Crear Promocion
</button>

<!--Modal para crear un tips-->
<div bsModal #crearPromocion="bs-modal"  class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-primary" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Crear Promocion</h4>
        <button type="button" class="close" (click)="crearPromocion.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="formularioPromocion" (submit)="crear(formularioPromocion.value)" class="form-horizontal">
        <div class="modal-body">
          <alert type="danger" *ngIf="formularioPromocion.get('titulo').invalid && formularioPromocion.get('titulo').touched">
            <strong>Error</strong> El valor de campo titulo es incorrecto
          </alert>
          <alert type="danger" *ngIf="formularioPromocion.get('descripcion').invalid && formularioPromocion.get('descripcion').touched">
            <strong>Error</strong> El valor de campo descripcion es incorrecto
          </alert>
          <alert type="danger" *ngIf="formularioPromocion.get('factorPuntos').invalid && formularioPromocion.get('factorPuntos').touched">
            <strong>Error</strong> El valor de campo factor puntos es incorrecto
          </alert>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="hf-email">Titulo</label>
            <div class="col-md-9">
              <input type="text" formControlName="titulo" name="titulo" formC class="form-control" placeholder="Titulo..">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="hf-email">factor puntos</label>
            <div class="col-md-9">
              <input type="text" formControlName="factorPuntos" name="factorPuntos" formC class="form-control" placeholder="Factor puntos..">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="textarea-input">Imagen</label>
            <div class="col-md-9">
              <app-file-upload (uploadStatus)="refreshImages($event)" [url]="uploadConfig"></app-file-upload>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="textarea-input">Descripcion</label>
            <div class="col-md-9">
              <textarea formControlName="descripcion" rows="9" class="form-control" placeholder="Descripcion.."></textarea>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="crearPromocion.hide()">Cancelar</button>
          <button type="submit" [disabled]="formularioPromocion.invalid" class="btn btn-primary">Guardar</button>
        </div>
      </form>
    </div>
  </div>
</div>
