
// If you want to override variables do it here
@import "variables";

// Import styles
@import "~@coreui/coreui/scss/coreui";

// If you want to add something do it here
@import "custom";



.paginate_button {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #20a8d8;
  background-color: #fff;
  border: 1px solid #c8ced3;
  float: left;
  text-align: center;
}

.paginate_button.previous, .paginate_button.next{
  width: 83px !important;
}

.paginate_button{
  width: 50px;
}

.dataTables_length{
  float: left;
}
.dataTables_filter{
  float: right;
}

input[type=search],label>select {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 0.875rem;
  line-height: 1.5;
  color: #5c6873;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #e4e7ea;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  float: right;
}

.ellipsis{
  display: none;
}

.notify {
  position: absolute;
  z-index: 3000;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  line-height: 2.5;
  overflow: hidden;
  -webkit-box-shadow: 0 0 5px black;
  -moz-box-shadow:    0 0 5px black;
  box-shadow:         0 0 5px black;
}

