<app-contenido [titulo]="titulo">
    <div *ngFor="let alert of alertas">
        <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout">{{ alert.msg }}</alert>
      </div>
  <app-tipo-rec-crear></app-tipo-rec-crear>
  <app-tipo-rec-modificat></app-tipo-rec-modificat>
  <app-tipo-rec-eliminar></app-tipo-rec-eliminar>
  <table datatable [dtTrigger]="dtTrigger" class="table table-bordered table-striped table-sm">
    <thead>
      <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Factor peso(KG)</th>
        <th>Factor puntos</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of listData">
        <td>{{data.id}}</td>
        <td>{{data.nombre}}</td>
        <td>{{data.descripcion}}</td>
        <td>{{data.factorPeso}}</td>
        <td>{{data.factorPuntos}}</td>
        <td style="width: 100px;">
          <button (click)="deleteElemt(data)" class="btn btn-primary float-left" type="button">
            <i class="icon-trash icons"></i>
          </button>
          <button (click)="editElemt(data)" class="btn btn-primary float-right" type="button">
            <i class="icon-pencil icons"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</app-contenido>

